.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    width: 400px;
    margin-left: 85px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content:space-around;

}


.menu-item {
    margin-right: 1rem;
    cursor: pointer;
}