/* Apply styles to the entire app container */
.app {
    text-align: center;
}
.Material {
    margin: 30px;
    font-size: 50px;
}

.Contact {
    margin: 30px;
    font-size: 30px;

}

.About {
    margin: 30px;
    font-size: 30px;
}